<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nurlan Sarkhanov</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
</head> 
<h1>BMI Calculator</h1>
<body>
    <div class="main">
        <p>Please enter your name. </p>
        <form class="pure-form" method="POST" action="/" >
        Name:<br>
        <br>
        <input type="text" name="username"> </br>
        <br>
        Weight:<br>
        <input type="text" name="weight"> </br>
        <br>
        Height:<br>
        <input type="text" name="height"> </br>
        <br>
        <button type="submit"class="pure-button pure-button-primary"  value="submit"> Submit</button>
        </form>
    </div>

<br>
<div>
    {% if name %}
        <h3>Hello  {{name}}</h3>
        <p> Your BMI is {{bmi}}</p>
    {% endif %}
</div>

      
</body>
</html>