* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
nav {
  height: 10vh;
  background: rgba(19, 19, 19, 0.994);
}

.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  /* background-color: orange; */
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}

.nav-links li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 22px;
}

@media screen and (max-width: 120vh) {
  .line {
    width: 30px;
    height: 4px;
    background: white;
    margin: 3px;
  }
  nav {
    height: 5vh;
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: rgba(19, 19, 19, 0.994);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
}
