<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Nurlan Sarkhanov </title>
</head>
<body>
   <p>Home page</p>
   <input type="color" name="SelectColor" id=""><br><br>
   <input type="date" name="datetime" id=""><br><br>
   <input type="email" name="email" id=""><br><br>
   <input type="range" min=5 max=10><br><br>
   <input type="search" name="search" id=""><br><br>
   <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="phone number">

</body>
</html>